Package: greenplum-postgis
Version: 2.5.4
Section: database
License: GPLv2
Priority: optional
Architecture: amd64
Depends: greenplum-db-6 ( >=6.13 ), gdal-data ( >= 2.2.3 ), gdal-bin ( >=2.2.3 ), expat ( >=2.2.5 ), libexpat1 ( >=2.2.5 ), libjson-c3 ( >=0.12.1 ), libgeos-3.6.2 ( >=3.6.2 ), proj-data ( >=4.9.3 ),  libproj12 ( >=4.9.3 ), libcunit1( >=2.1-3 )
Maintainer: Denis Matveev<denis.matveev@ignitia.se>
Description: Geospatial extensions for Greenplum Database
